.background {
  background-color: #3a4a69;
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  padding: 10vw 0vw 18vw 0vw;
}

.whiteFrame {
  background-color: white;
  width: 85%;
  height: fit-content;
  position: absolute;
  margin-top: auto;
  margin-bottom: auto;
  right: 0px;
  top: 10%;
  bottom: 10%;
}

.navigationBar {
  font-size: 1.4vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  margin: 0vw 7vw 0vw 7vw;
}

.navigationBar h1 {
  letter-spacing: 7px;
  text-shadow: 4px 3px 6px rgba(0, 0, 0, 0.5);
}

.navigationBar nav a {
  margin-left: 50px;
  font-weight: 600;
}

.mainContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.leftSection {
  width: 60vw;
  margin: 0vw 7vw 0vw 7vw;
}

.image {
  width: 100%;
  height: 27vw;
  position: relative;
  margin-top: -40px;
  margin-bottom: -20px;
}

.leftSection p {
  display: block;
  font-weight: 550;
  font-size: 1vw;
  text-align: left;
  padding: 0px;
  margin: 1vw 0vw 3vw 0vw;
}

.rigthSection {
  width: 35vw;
  margin: 0vw 4vw 0vw 4vw;
}

.rigthSection h2 {
  font-size: 2.1vw;
}

.paragraph {
  font-size: 2vw;
  margin: 0px;
}

.year {
  color: #3a538ae7;
  font-size: 3.5vw;
  font-weight: 600;
  letter-spacing: 2px;
  margin-top: 1vw;
}

.arrows {
  font-size: 4vw;
  color: #3a4a69;
  position: absolute;
  top: 88%;
}

#downarrow {
  left: 51.5%;
}

#uparrow {
  left: 48.5%;
}

#downarrow:hover {
  animation: arrowDown 2s infinite;
  cursor: pointer;
}

@keyframes arrowDown {
  0% {
    -webkit-transform: translate(0, 0px);
  }
  50% {
    -webkit-transform: translate(0, 10px);
  }
  100% {
    -webkit-transform: translate(0, 0px);
  }
}

#uparrow:hover {
  animation: arrowUp 2s infinite;
  cursor: pointer;
}

@keyframes arrowUp {
  0% {
    -webkit-transform: translate(0, 0px);
  }
  50% {
    -webkit-transform: translate(0, -10px);
  }
  100% {
    -webkit-transform: translate(0, 0px);
  }
}

.whiteFramePages {
  background-color: white;
  width: 100%;
  height: fit-content;
  position: absolute;
  margin-top: auto;
  margin-bottom: auto;
  right: 0px;
  left: 0px;
  top: 10%;
  bottom: 10%;
  padding: 2vw 0vw 2vw 0vw;
}

.mainContentPages {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.leftSectionPages {
  width: 30vw;
  margin: 2vw 0vw 2vw 12vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rigthSectionPages {
  width: 35vw;
  margin: 2vw 0vw 2vw 8vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imagePages,
.imagePagesFinal {
  width: 100%;
  height: 22vw;
  position: relative;
  margin: 0;
  padding: 0;
}

.eventBox {
  width: 100%;
  background-color: #536a998a;
  font-size: 1.1vw;
  font-weight: 600;
  text-align: center;
  padding: 0.7vw 1vw 0.7vw 1vw;
  height: fit-content;
}

.informationBox {
  font-weight: 600;
  font-size: 0.9vw;
  text-align: justify;
}

.yearBox,
.yearBoxFinal {
  color: #3a538ae7;
  font-size: 3.5vw;
  font-weight: 600;
  letter-spacing: 2px;
  margin: 1vw 0vw 1vw 0vw;
}

.whiteFrameFinal {
  background-color: white;
  width: 85%;
  height: fit-content;
  position: absolute;
  margin-top: auto;
  margin-bottom: auto;
  left: 0px;
  top: 10%;
  bottom: 10%;
}

.mainContentFinal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0vw 0vw 2vw 0vw;
}

.centerSectionPages {
  width: 35vw;
  margin: 4vw 0vw 4vw 0vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.centerInformationBox {
  font-weight: 600;
  font-size: 1.1vw;
  text-align: justify;
  margin: 3vw 0vw 0vw 0vw;
}

.footer {
  color: white;
  text-align: center;
  position: absolute;
  width: 100%;
  margin: 0vw 0vw 0vw 0vw;
}

@media (min-device-width: 500px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .background {
    background-color: #3a4a69;
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    padding: 10vw 0vw 18vw 0vw;
  }

  .whiteFrame {
    background-color: white;
    width: 100%;
    height: 70%;
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    right: 0px;
    top: 10%;
    bottom: 10%;
  }

  .navigationBar {
    font-size: 2.5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    margin: 2vw 7vw 2vw 7vw;
  }

  .navigationBar h1 {
    letter-spacing: 7px;
    text-shadow: 4px 3px 6px rgba(0, 0, 0, 0.5);
  }

  .navigationBar nav a {
    margin-left: 50px;
    font-weight: 600;
  }

  .mainContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15vw 0vw 0vw 0vw;
  }

  .leftSection {
    width: 50vw;
    margin: 0vw 7vw 0vw 7vw;
  }

  .image {
    width: 100%;
    height: 27vw;
    position: relative;
  }

  .leftSection p {
    display: block;
    font-weight: 550;
    font-size: 2vw;
    text-align: justify;
    padding: 0px;
    margin: 10vw 0vw 3vw 0vw;
  }

  .rigthSection {
    width: 35vw;
    margin: 0vw 4vw 0vw 4vw;
  }

  .rigthSection h2 {
    font-size: 3vw;
  }

  .paragraph {
    font-size: 2.5vw;
    margin: 0px;
  }

  .year {
    color: #3a538ae7;
    font-size: 3.5vw;
    font-weight: 600;
    letter-spacing: 2px;
    margin-top: 1vw;
  }

  .arrows {
    font-size: 6vw;
    color: #3a4a69;
    position: absolute;
    top: 88%;
    padding: 2vw 0vw 2vw 0vw;
  }

  #downarrow {
    left: 52.5%;
  }

  #uparrow {
    left: 47.5%;
  }

  #downarrow:hover {
    animation: arrowDown 2s infinite;
    cursor: pointer;
  }

  @keyframes arrowDown {
    0% {
      -webkit-transform: translate(0, 0px);
    }
    50% {
      -webkit-transform: translate(0, 10px);
    }
    100% {
      -webkit-transform: translate(0, 0px);
    }
  }

  #uparrow:hover {
    animation: arrowUp 2s infinite;
    cursor: pointer;
  }

  @keyframes arrowUp {
    0% {
      -webkit-transform: translate(0, 0px);
    }
    50% {
      -webkit-transform: translate(0, -10px);
    }
    100% {
      -webkit-transform: translate(0, 0px);
    }
  }

  .whiteFramePages {
    background-color: white;
    width: 100%;
    height: 80%;
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    right: 0px;
    left: 0px;
    top: 10%;
    bottom: 10%;
    padding: 10vw 0vw 10vw 0vw;
  }

  .mainContentPages {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .leftSectionPages {
    width: 85vw;
    height: 40vw;
    margin: 0vw 0vw 2vw 0vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .rigthSectionPages {
    width: 85vw;
    height: 40vw;
    margin: 0vw 0vw 2vw 0vw;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .imagePages {
    width: 100%;
    height: 26vw;
    position: relative;
    order: 2;
    flex: 0 0 48%;
    align-self: flex-start;
  }

  .eventAndInfo {
    display: flex;
    flex-direction: column;
    order: 3;
    flex: 0 0 48%;
    align-self: flex-start;
  }

  .eventBox {
    width: 100%;
    background-color: #536a998a;
    font-size: 2vw;
    font-weight: 600;
    text-align: center;
    padding: 0.7vw 1vw 0.7vw 1vw;
    height: fit-content;
    flex: 0 0 50%;
    align-self: flex-start;
  }

  .informationBox {
    font-weight: 600;
    font-size: 1.6vw;
    text-align: justify;
  }

  .yearBox {
    color: #3a538ae7;
    font-size: 3.5vw;
    font-weight: 600;
    letter-spacing: 2px;
    margin: 1vw 0vw 1vw 0vw;
    order: 1;
    flex: 100%;
    text-align: center;
  }

  .whiteFrameFinal {
    background-color: white;
    width: 85%;
    height: 80vw;
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    left: 0px;
  }

  .mainContentFinal {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vw 0vw 2vw 0vw;
  }

  .centerSectionPages {
    width: 60vw;
    margin: 4vw 0vw 4vw 0vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .centerInformationBox {
    font-weight: 600;
    font-size: 2vw;
    text-align: justify;
    margin: 3vw 0vw 0vw 0vw;
  }

  .yearBoxFinal {
    color: #3a538ae7;
    font-size: 3.5vw;
    font-weight: 600;
    letter-spacing: 2px;
    margin-top: 1vw;
  }

  .imagePagesFinal {
    width: 100%;
    height: 33vw;
    position: relative;
    margin: 3vw 0vw 3vw 0vw;
    padding: 0;
  }

  .footer {
    font-size: 2vw;
    color: white;
    text-align: center;
    position: relative;
    width: 100%;
    margin: 8vw 0vw 0vw 0vw;
  }
}

@media only screen and (min-device-width: 200px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
  .background {
    background-color: #3a4a69;
    width: 100%;
    height: 100%;
  }

  .whiteFrame {
    background-color: white;
    width: 91%;
    height: 95%;
    margin-left: auto;
    margin-right: 4vw;
  }

  .navigationBar {
    font-size: 3vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    margin: 4vw 4vw 2vw 4vw;
  }

  .navigationBar h1 {
    font-size: 8vw;
    letter-spacing: 7px;
    text-shadow: 4px 3px 6px rgba(0, 0, 0, 0.5);
  }

  .navigationBar nav a {
    margin-left: 4vw;
    font-weight: 600;
  }

  .mainContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0vw 0vw 0vw 0vw;
  }

  .leftSection {
    width: 80vw;
    margin: 7vw 0vw 7vw 0vw;
    order: 1;
  }

  .image {
    width: 100%;
    height: 55vw;
  }

  .leftSection p {
    display: block;
    font-weight: 600;
    font-size: 4vw;
    text-align: justify;
    padding: 0px;
    margin: 5vw 0vw 3vw 0vw;
  }

  .rigthSection {
    width: 80vw;
    margin: 0vw;
  }

  .rigthSection h2 {
    font-size: 6vw;
  }

  .paragraph {
    font-size: 5vw;
    margin: 0px;
  }

  .year {
    color: #3a538ae7;
    font-size: 6vw;
    font-weight: 600;
    letter-spacing: 2px;
    margin-top: 3vw;
  }

  .arrows {
    font-size: 8vw;
    color: #3a4a69;
    position: absolute;
    top: 90%;
    padding: 2vw 0vw 2vw 0vw;
  }

  #downarrow {
    left: 54%;
  }

  #uparrow {
    left: 46%;
  }

  #downarrow:hover {
    animation: arrowDown 2s infinite;
    cursor: pointer;
  }

  @keyframes arrowDown {
    0% {
      -webkit-transform: translate(0, 0px);
    }
    50% {
      -webkit-transform: translate(0, 10px);
    }
    100% {
      -webkit-transform: translate(0, 0px);
    }
  }

  #uparrow:hover {
    animation: arrowUp 2s infinite;
    cursor: pointer;
  }

  @keyframes arrowUp {
    0% {
      -webkit-transform: translate(0, 0px);
    }
    50% {
      -webkit-transform: translate(0, -10px);
    }
    100% {
      -webkit-transform: translate(0, 0px);
    }
  }

  .whiteFramePages {
    background-color: white;
    width: 100%;
    height: 100%;
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    right: 0px;
    left: 0px;
    top: 10%;
    bottom: 10%;
    padding: 10vw 0vw 10vw 0vw;
  }

  .mainContentPages {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .leftSectionPages {
    width: 95vw;
    height: 40vw;
    margin: 0vw 0vw 2vw 0vw;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
  }

  .rigthSectionPages {
    width: 95vw;
    height: 40vw;
    margin: 50vw 0vw 2vw 0vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .imagePages {
    width: 100%;
    height: 27vw;
    position: relative;
    margin-top: 4vw;
    padding: 0;
    order: 2;
    flex: 0 0 50%;
    align-self: flex-start;
  }

  .eventAndInfo {
    display: flex;
    flex-direction: column;
    order: 3;
    flex: 0 0 50%;
    align-self: flex-start;
    padding: 0vw 0vw 0vw 2vw;
  }

  .eventBox {
    display: none;
  }

  .informationBox {
    font-weight: 600;
    font-size: 3vw;
    text-align: justify;
    padding: 0vw 2vw 0vw 2vw;
  }

  .yearBox {
    color: #3a538ae7;
    font-size: 8vw;
    font-weight: 600;
    letter-spacing: 2px;
    margin: 3vw 0vw 8vw 0vw;
    order: 1;
    flex: 100%;
    text-align: center;
  }

  .whiteFrameFinal {
    background-color: white;
    width: 100%;
    height: 90%;
    position: absolute;
    top: 0px;
    margin-top: 0;
    margin-bottom: auto;
    left: 0px;
  }

  .mainContentFinal {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vw 0vw 2vw 0vw;
    justify-content: center;
  }

  .centerSectionPages {
    width: 90vw;
    margin: 4vw 0vw 4vw 0vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }

  .centerInformationBox {
    font-weight: 600;
    font-size: 3vw;
    text-align: center;
    margin: 3vw 0vw 0vw 0vw;
    order: 2;
    flex: 0 1 50%;
    padding: 0vw 7vw 0vw 7vw;
  }

  .yearBoxFinal {
    color: #3a538ae7;
    font-size: 8vw;
    font-weight: 600;
    letter-spacing: 2px;
    margin-top: 1vw;
    flex: 1 0 100%;
    text-align: center;
  }

  .imagePagesFinal {
    width: 100%;
    height: 35vw;
    position: relative;
    margin: 3vw 0vw 3vw 0vw;
    padding: 0;
    order: 3;
    flex: 0 1 50%;
  }

  .eventBoxFinal {
    width: 50%;
    background-color: #3a4a69;
    font-size: 3vw;
    font-weight: 600;
    text-align: center;
    padding: 1vw 1vw 1vw 1vw;
    margin: 0vw 20vw 0vw 20vw;
    height: fit-content;
    flex: 0 1 100%;
    align-self: center;
    order: 4;
    color: white;
  }

  .footer {
    font-size: 2.5vw;
    color: white;
    text-align: center;
    position: relative;
    bottom: -63%;
    width: 100%;
    margin: 8vw 0vw 0vw 0vw;
  }
}
